*.log
*.pid
*.seed
.editorconfig
.eslintignore
.eslintrc*
.git
.github
.gitignore
.grunt
.lock-wscript
.node_repl_history
.nyc_output
.prettierrc.js
.prettierignore
.stylelintrc*
.travis.yml
.vscode
appveyor.yml
coverage
gulpfile.js
lib-cov
logs
node_modules
npm-debug.log*
pids
test
